body{
    font-family: Arial, sans-serif;
    background-color: blue
}

.container{
    width: 500px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1,h2,h3{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,select,button{
    padding: 10px;
    font-size: 16px;
    background-color: aqua;
}

button{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: darkgreen;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.income{
    background-color: #d4edda;
}

.expense{
    background-color: #f8d7da;
}

.delete-btn{
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
}